.titre{
    margin-right: 90%;
}

.ligne{
    margin-right: 90%;
    margin-left: 0px;
}

.photo{    
   
    width: 6%;
}

#invisible{
   
}

}


.infos{
    text-align: right;
    margin-right: 90%;
}


.points-forts{
    margin-left: 125%;
}

#FondRouge{
    background-color: red;
    
}

.scolarité{
    
}

.stages{
 
}

.langues{
   
}

.diplômes{
    
}

.dates{
    text-align: right;
    margin-right: 90%;
}

#Corps{
    margin-left: 125%;
}

